*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap; 
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 133px;
  position: relative;
}


.result {
  margin-right: 30px;
  overflow: visible;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-top: 80px;
  margin-bottom: 14px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.search-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  max-width: 711px;
  max-height: 54px;
}

.search-form__fieldset {
  min-width: 220px;
  min-height: 53px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;

}


.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);

}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
}

.search-form__textfield {
  background-color: transparent;
  color: inherit;
  appearance: none;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-left: none;
  border-right: none;
  width: 225px;
  color: rgb(255, 255, 255);;
  font-family: 'Fira Sans Condensed',Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  appearance: none; 
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-width: 220px;
  appearance: none; 

}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:active {
  outline: 1px solid rgb(255, 255, 255);

}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(255, 255, 255);
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox:after {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255);
  appearance: none; 
}



.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
}

.search-form__checkbox:focus-visible+.search-form__pseudo-checkbox:after {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  outline: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  appearance: none; 
}

.button {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  outline: 1px solid rgb(255, 255, 255);
  background: rgb(84, 80, 80);
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
}

.content__details {
  width: 100%;
  max-height: 100%;
}

.content__list {
  width: 399px;
  height: 298px;
  margin-top: 28px;
  overflow: auto;
  padding-right: 2px;
  padding-left: 2px;
  position: relative;
}

.title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.content__accent {
  color: rgb(84, 80, 80);
}


.content__list-item:not(:last-of-type) {
  margin-bottom: 32px;
}



.content__card-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}



.content__card-link:focus {
  outline: none;
}



.content__list-item:has(.content__card-link:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
}


.content__list-item:has(.content__card-link_current, .content__card-link:active) {
  display: block;
  background: rgb(84, 80, 80);

}

.content__card-link:hover {
  text-decoration: underline;

}


.more-button {
  min-width: 399px;
  min-height: 34px;

}